
@model Sarih_Law.Models.Blog

@{
    ViewBag.Title = "BlogGetir";
    Layout = "/Views/Shared/_AdminLayout.cshtml";

}
<script src="~/ckeditor/ckeditor.js"></script>
<h2>Blog Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("BlogGuncelle", "Adminler", FormMethod.Post, new { enctype = "multipart/form-data" })) // Blog güncelle action result devrey girdiginde çalısacak ,, bloggüncelle adminler controllerinda ,,Sayfada butona tıklanıp post islemi gerçekletirildiginde calisacak
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />

    <input type="file" name="fileobj" />
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, 15, 1, new { @id = "editorid", @class = "form-control" })
    <br />
    <button class="btn btn-success">Blog Guncelle</button>


}
@section Scripts{
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>CKEDITOR.replace("editorid");</script>
}
