
@model Sarih_Law.Models.Blog

@{
    ViewBag.Title = "YeniBlog";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
<h2>Yeni Blog Ekleme</h2>
<br />
<form class="form-group" method="post" enctype="multipart/form-data">
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @* @Html.LabelFor(x => x.Yazar)
        @Html.TextBoxFor(x => x.Yazar, new { @class = "form-control" })
        <br />
    *@
    @Html.LabelFor(x => x.Kategori)
    @Html.TextBoxFor(x => x.Kategori, new { @class = "form-control" })
    <br />
    <input type="file" name="fileobj" />

    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, new { @id = "editorid", @class = "form-control" })
    <br />
    <button class="btn btn-primary">Blog Ekle</button>
</form>

@Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })

@section Scripts{
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>CKEDITOR.replace("editorid");</script>

}
