@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using Sarih_Law.Models
@using System.Text.RegularExpressions;
@model IPagedList<Blog>
@{ Layout = "/Views/Shared/AsilLayout.cshtml";
    var alanBasligi = Model.FirstOrDefault()?.Alan?.AlanAdi; }


<div class="blog">

    <div class="container">

        <div class="section-header">
            <h2> @alanBasligi Blogları</h2>
        </div>

        <div class="row blog-page">

            @foreach (var x in Model)
            {
<div class="col-lg-4 col-md-6 blog-item">

    <img src="~/img/seba.jpg" alt="Blog">
    <h3>@x.Baslik</h3>
    <div class="meta">
        <i class="fa fa-list-alt"></i>
        <p>@x.Alan.AlanAdi</p>
        @* <a href="">Civil Law</a>*@

        <i class="fa fa-calendar-alt"></i>
        <p>@x.Tarih.ToString("dd.MM.yyyy")</p>
    </div>
    @{ var aciklama = x.Aciklama;
        aciklama = Regex.Replace(aciklama, "<.*?>", string.Empty); // HTML etiketlerini kaldır
        aciklama = System.Net.WebUtility.HtmlDecode(aciklama); // HTML özel karakterleri çöz
        aciklama = aciklama.TrimStart(); // Metnin başındaki boşlukları kaldır
        var shortened = aciklama.Substring(0, Math.Min(aciklama.Length, 61)); }
    <p>@Html.Raw(shortened)</p>
    <a class="btn" href="/Bloglar/BlogDetay/@x.ID">Read More <i class="fa fa-angle-right"></i></a>
</div>            }

        </div>

    </div>



</div>
<div class="pagination">
    <ul>
        @if (Model.PageCount > 1)
        {
<li>
    @Html.PagedListPager(Model,
      sayfaa => Url.Action("AlanDetay", "Bloglar",
          new { sayfaa, alanId = Model.First().Alan.ID }),
      PagedListRenderOptions.ClassicPlusFirstAndLast)

    @*@Html.PagedListPager(Model, page => Url.Action("AlanDetay","Bloglar", new { sayfaa =page, alanId }), PagedListRenderOptions.ClassicPlusFirstAndLast)*@
</li>}
    </ul>
</div>




