@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@using X.PagedList;
@using System.Text.RegularExpressions;
@using Sarih_Law.Models
@model IPagedList<Blog>
@{ Layout = "/Views/Shared/AsilLayout.cshtml"; }

<!-- Blog Start -->
<div class="blog">

    <div class="container">
        <div class="section-header">
            <h2>Latest From Blog</h2>
        </div>

        <div class="row blog-page">


            @foreach (var x in Model)
            {

            <div class="col-lg-4 col-md-6 blog-item">
                <img src="@x.BlogImage" alt="Blog">
                <h3>@x.Baslik</h3>
                <div class="meta">
                    <i class="fa fa-list-alt"></i>
                    <p>@x.Alan.AlanAdi</p>
                    @* <a href="">Civil Law</a>*@

                    <i class="fa fa-calendar-alt"></i>
                    <p>@x.Tarih.ToString("dd.MM.yyyy")</p>
                </div>
              
                @{ var aciklama = x.Aciklama;
                    aciklama = Regex.Replace(aciklama, "<.*?>", string.Empty); // HTML etiketlerini kaldır
                    aciklama = System.Net.WebUtility.HtmlDecode(aciklama); // HTML özel karakterleri çöz
                    aciklama = aciklama.TrimStart(); // Metnin başındaki boşlukları kaldır
                    var shortened = aciklama.Substring(0, Math.Min(aciklama.Length, 61)); }
                <p>@Html.Raw(shortened)</p>
                <a class="btn" href="/Bloglar/BlogDetay/@x.ID">Read More <i class="fa fa-angle-right"></i></a>
            </div>}

        </div>



        @* @Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }))*@
    </div>
    @*  @X.PagedList.Mvc.Core.HtmlHelper.PagedListPager(Html, Model, sayfa => Url.Action("Index", new { sayfa }))*@
    @* @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new {sayfa =sayfa })) *@
    @* @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@




</div>
<div class="pagination">
    <ul>
        @if (Model.PageCount > 1)
        {
<li>@Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }), PagedListRenderOptions.ClassicPlusFirstAndLast)</li>}
    </ul>
</div>



<!-- Blog End -->
